:root{
    --primaryTextColor: #232e35; /* Judul */
    --secondaryTextColor: #656d72; /* Text Biasa */

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9; /* untuk line di pre-title */

    --primaryBackgroudColor: #fff;
    --secondaryBackgroudColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;

    --sectionPadding: 2rem 0;

    --itemBorderRadius: 0.7rem;
}

p {
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
    font-family: 'Boska-Bold';
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}